
//@import 'variables';

// You should use an external file for variables but here are some
/*
$font-body: 'Roboto', sans-serif;
$color-primary: #00BCD4;
$color-primary-light: #B2EBF2;
$color-primary-dark: #0097A7;
$color-secondary-dark: #E64A19;
$color-accent: #FF4081;
$color-text: #FFFFFF;
$color-text-primary: #212121;
$color-text-secondary: rgba($color-text-primary, .85);
$color-divider: #B6B6B6;
$color-phone: #2196f3;
$color-email: #009688;
$color-error: #ff4081;
*/

body * {
    box-sizing: border-box;
}

h1, h2 {
    font-weight: 100;
}

h1 {
    font-size: 2.6rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 100;
    margin-top: 1rem;
}

h4 {
    font-size: 1.1rem;
    line-height: 1;
}

figure {
    img {
        max-width: 100%;
        display: block;
    }
}

a {
    color: $color-text-secondary;
    text-decoration: none;
    border-bottom: 4px solid lighten($color-primary, 50%);
}

p {
    line-height: 1.4;
    margin-top: 0;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea {
    background-color: transparent;
    border: 1px solid $color-divider;
    border-width: 0 0 1px 0;
    border-radius: 0;
    outline: medium none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s ease 0s;

    &:focus {
        border-bottom: 1px solid $color-primary;
        box-shadow: 0 1px 0 0 $color-primary;
    }
}

textarea {
    height: auto;
    margin-top: .5rem;
}

select:focus {
    outline: 1px solid $color-primary;
}

label input {
    margin-right: .5rem;
}

form ul li{
    list-style: none;
    display: flex;
    margin-bottom: 18px;
    align-items: center;
}

label {
    margin-right: 1rem;
}

.icon-label {
    flex: 0 0 auto;

    svg {
        margin: 0;
        height: 1em;
        width: 1em;
    }

    &.textarea-label {
        align-self: flex-start;

        svg {
            margin: .5rem 0 0 0;
        }
    }
}

.icon-label + input, input + .icon-btn {
    flex: 1 1 auto;
}

select {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 5px;
    border: 0;
    height: 3rem;
}


button {
    border: medium none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    font-size: 1rem;
    line-height: 36px;
    outline: 0 none;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    color: $color-text-bg-primary;
    background-color: $color-accent;
    text-align: center;
    letter-spacing: 0.5px;
    transition: all 0.2s ease-out 0s;
    cursor: pointer;
}

.icon-btn {
    flex: 0 0 auto;
    border: 0;
    width: auto;
    padding: 6px 6px;
    border-radius: 2px;
    line-height: 1;

    .icon {
        vertical-align: middle;
        fill: currentColor;
    }
}

.grouped-inputs {
    display: flex;
    flex-direction: row;

    input, button {
        line-height: 2rem;
        height: 2rem;
        padding: .2rem;
    }

    input {
        flex: 1 1 auto;
        margin-right: .5rem;
        border-radius: 0;
    }

    button {
        flex: 0 0 2.5rem;
        height: 2.5rem;
    }
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.87);
    line-height: inherit;
    border: 0 none;
}
